@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: darkgreen;
  transition: 0.5s;

  overflow: hidden;
}

.navigation.active {
  width: 60px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation ul li:hover {
  background: green;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 20px;
}

.navigation ul li:nth-child(1):hover {
  background: transparent;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: white;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon .fa {
  color: white;
  font-size: 24px;
}

h1 {
  font-size: 1.1rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.bold {
  font-weight: bold;
  color: lightyellow;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: lightgray;
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 60px);
  left: 60px;
}

.main .topbar {
  width: 100%;
  background: gray;
  height: 60px;

  padding: 0 1px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: gray;

  cursor: pointer;
}

.toggle::before {
  content: "\f0c9";
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: black;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;

  padding: 5px 20px;
  padding-left: 35px;

  outline: none;

  border: 2px solid black;
}

.search label .fa-magnifying-glass {
  position: absolute;
  left: 15px;
  top: 4.4px;
}

.userpic {
  position: relative;
  min-width: 50px;
  height: 50px;

  border-radius: 50%;

  border: 2px solid black;

  top: 2px;
  right: 5px;
  overflow: hidden;

  cursor: pointer;
}

.userpic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.cardBox .card {
  position: relative;
  background: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* cursor: pointer; */
}

.a__none {
  text-decoration: none;
}

.cardName .a__none {
  color: gray;
}

.cardBox .card .numbers {
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
}

.cardBox .card .cardName {
  color: gray;
}

.font-size__2rem {
  font-size: 1.2rem;
}

.cardBox .card .iconBox {
  font-size: 1.2rem;
  color: blue;
}

.details {
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr;
}

.details .recentOrders {
  position: relative;
  display: grid;
  min-height: 530px;
  background: white;
  padding: 20px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardHeader h2 {
  font-weight: 600;
}

.btn {
  position: relative;
  padding: 5px 10px;
  /* color: #03a9f4; */
  background: darkblue;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
}

.btn:hover {
  background: blue;
  color: lightgray;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details table thead td {
  font-weight: 600;
}

.details .recentOrders table tr {
  border-bottom: 2px solid green;
}

.details .recentOrders table tbody tr:hover {
  background: gray;
  color: white;
}

.details .recentOrders table tbody tr:last-child {
  border-bottom: none;
}

.details .recentOrders table tr td {
  padding: 9px 5px;
}

.details .recentOrders table thead tr td:last-child,
.details .recentOrders table tbody tr td:last-child {
  text-align: right;
}

.details .recentOrders table thead tr td:nth-child(2),
.details .recentOrders table tbody tr td:nth-child(2) {
  text-align: right;
  padding-right: 20px;
}

.details .recentOrders table thead tr td:nth-child(3),
.details .recentOrders table tbody tr td:nth-child(3) {
  text-align: center;
}

.status {
  position: relative;
  padding: 2px 4px;
  background: red;
  color: white;
  border-radius: 0.4rem;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

.delivered {
  background: green;
}

.pending {
  background: orange;
}

.return {
  background: red;
}

.inprogress {
  background: blue;
}

.details .recentCustomers {
  position: relative;
  display: grid;
  min-height: 530px;
  background: white;
  padding: 20px;

  /* margin-left: 1rem; */
}

.details .recentCustomers .imgBx {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
}

.details .recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details .recentCustomers table tr td h3 span {
  font-size: 12px;
  color: gray;
}

.details .recentCustomers table tr:hover,
.details .recentCustomers table tr:hover td h3 span {
  background: darkblue;
  color: white;
}

.details .recentCustomers table tr td {
  padding: 7px 10px;
}

.details .recentCustomers table tr td h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2rem;
}

/*
.img {
  width: 10rem;
  height: 10rem;
}
*/

@media (max-width: 992px) {
  .navigation {
    left: -300px;
  }

  .navigation.active {
    left: 0;
  }

  .main {
    width: 100%;
    left: 0;
  }

  .main.active {
    width: (calc(100% - 300px));
    left: 300px;
  }

  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardHeader {
    font-weight: 600;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }

  .details .recentOrders {
    overflow-x: auto;
  }

  .details .recentOrders table {
    width: 600px;
  }

  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }

  .navigation.active {

  }
}
